<prsmenu></prsmenu>
<div>
    <div class="form-group">
        <label for="UserName">User Name </label>
        <input id="UserName" type="text" class="form-control" placeholder="username" required [(ngModel)]= "user.Username" name="Username">
    </div>
    <div class="form-group">
        <label for="FirstName">Firstname </label>
        <input id="FirstName" type="text" class="form-control" placeholder="firstname" required [(ngModel)]= "user.Firstname" name= "Firstname">
    </div>
    <div class="form-group">
        <label for="LastName">LastName </label>
        <input id="LastName" type="text" class="form-control" placeholder="lastname" required [(ngModel)]= "user.Lastname" name= "Lastname">
    </div>
    <div class="form-group">
        <label for="Password">User Name </label>
        <input id="Password" type="password" class="form-control" placeholder="password" required [(ngModel)]= "user.Password" name="Password">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input id="Email" type="text" class="form-control" placeholder="email" required [(ngModel)]= "user.Email" name="Email">
    </div>
    <div class="form-group">
      <label for="Phone">Phone </label>
      <input id="Phone" type="text" class="form-control" placeholder="5555555555" required [(ngModel)]= "user.Phone" name="Phone">
    </div>
    <div class="form-group">
      <label for="IsReviewer">Reviewer? </label>
      <select id="IsReviewer"  class="form-control"  required [(ngModel)]= "user.IsReviewer" name="IsReviewer">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="IsAdmin">Admin? </label>
      <select id="IsAdmin"  class="form-control"  required [(ngModel)]= "user.IsAdmin" name="IsAdmin">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Active">Active? </label>
      <select id="Active"  class="form-control"  required [(ngModel)]= "user.Active" name="Active">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  <button (click)="edit()">Edit</button>
</div>