<prsmenu></prsmenu>
<h1>Request Details</h1>
<div>
  <div>
    <table>
      <tr>
        <th>User's name</th><td>{{request.User.Firstname}},{{request.User.Lastname}}</td>
      </tr>
      <tr>
        <th>Request Id</th><td>{{request.Id}}</td>
      </tr>
      <tr>
        <th>Request Description</th><td>{{request.Description}}</td>
      </tr>
      <tr>
        <th>Request Justification</th><td>{{request.Justification}}</td>
      </tr>
      <tr>
        <th>Request Deliviry Mode</th><td>{{request.DeliviryMode}}</td>
      </tr>
      <tr>
        <th>Request Status</th><td>{{request.Status}}</td>
      </tr>
      <tr>
        <th>Request Price</th><td>{{request.Price}}</td>
      </tr>
    </table>
  </div>
</div>