<prsmenu></prsmenu>
<h1>Request Details</h1>
<div>
  <div>
    <table>
      <tr>
        <th>User's name</th><td>{{request.User.Firstname}},{{request.User.Lastname}}</td>
      </tr>
      <tr>
        <th>Request Id</th><td>{{request.Id}}</td>
      </tr>
      <tr>
        <th>Request Description</th><td>{{request.Description}}</td>
      </tr>
      <tr>
        <th>Request Justification</th><td>{{request.Justification}}</td>
      </tr>
      <tr>
        <th>Request Deliviry Mode</th><td>{{request.DeliviryMode}}</td>
      </tr>
      <tr>
        <th>Request Status</th><td>{{request.Status}}</td>
      </tr>
      <tr>
        <th>Request Price</th><td>{{request.Price}}</td>
      </tr>
    </table>
  </div>
  <h3>Line Items</h3>
  <div>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of rlines">
          <td>{{line.Product.Name}}</td>
          <td>{{line.Product.Price}}</td>
          <td>{{line.Quantity}}</td>
          <td>{{line.Price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>