<prsmenu></prsmenu>
<h1>Product List!!</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>PartNumber</th>
        <th>Unit</th>
        <th>Price</th>
        <th>PhotoPath</th>
        <th>Vendor</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td>{{product.Name}}</td>
        <td>{{product.PartNumber}}</td>
        <td>{{product.Unit}}</td>
        <td>{{product.Price}}</td>
        <td>{{product.PhotoPath}}</td>
        <td>{{product.Vendor.Name}}</td>
      </tr>
    </tbody>
  </table>
</div>