<prsmenu></prsmenu>
<div style= "padding: 20px;">

  <div class="form-group">
    <label>Description</label>
    <input id="description" class="form-control" [(ngModel)]="request.Description">
  </div>
  <div>
    <label>Justification</label>
    <input id="justification" class="form-control" [(ngModel)]="request.Justification">
  </div>
  <div>
    <label>Deliviry Mode</label>
    <input id="delivirymode" class="form-control" [(ngModel)]="request.DeliviryMode">
  </div>
  <div *ngIf="logged.IsAdmin || logged.IsReviewer">
    <label>Reject Reason</label>
    <input class="form-control" [(ngModel)]="request.RejectReason">
  </div>
  <div *ngIf=" logged.IsAdmin || logged.IsReviewer">
    <label>Status</label>
    <select [(ngModel)]="request.Status">
      <option value="New">New</option>
      <option value="Pending">Pending</option>
      <option value="Approved">Approved</option>
      <option value="Declined">Declined</option>
    </select>
  </div>
  <div>
      <table>
          <tr *ngFor="let line of rlines">
            <td>{{line.Product.Name}}</td>
            <td>{{line.Product.Price}}</td>
            <td>{{line.Quantity}}</td>
            <td>{{line.Price}}</td>
          </tr>
      </table>
  </div>
  <button (click)="edit()">Change</button>
  <button (click)="addProduct()">Add Product</button>
</div>