<div style="padding: 20px;">

    <div class="form-group">
      <label for="username">User Name </label>
      <input id="username" type="text" class="form-control" placeholder="username" required ng-model ="user.Username">
    </div>
    <div class="form-group">
      <label for="password">Password </label>
      <input id="password" type="password" class="form-control" placeholder="password" required ng-model= "user.Password">
    </div>
    <div class="form-group">
      <label for="FirstName">FirstName </label>
      <input id="FirstName" type="text" class="form-control" placeholder="FirstName" required ng-model= "user.FirstName">
    </div>
    <div class="form-group">
      <label for="LastName">LastName </label>
      <input id="LastName" type="text" class="form-control" placeholder="LastName" required ng-model= "user.LastName">
    </div>
    <div class="form-group">
      <label for="Phone">Phone </label>
      <input id="Phone" type="text" class="form-control" placeholder="Phone" required ng-model= "user.Phone">
    </div>
    <div class="form-group">
      <label for="Email">Email </label>
      <input id="Email" type="text" class="form-control" placeholder="Email" required ng-model= "user.Email">
    </div>
    <div class="form-group">
      <label for="IsReviewer">Reviewer? </label>
      <select id="IsReviewer"  class="form-control"  required ng-model= "user.IsReviewer">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group">
        <label for="IsAdmin">Admin? </label>
        <select id="IsAdmin"  class="form-control"  required ng-model= "user.IsAdmin">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="form-group">
          <label for="Active">Active? </label>
          <select id="Active"  class="form-control"  required ng-model= "user.Active">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
    <button (click)="create()"> create</button>
  </div>